<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modal test</title>
</head>
<body>
<div class="container">
    <h2>Modal Test</h2>
    <control-component></control-component>
</div>

</body>
</html>