<style>

    .toast-holder {
        position: absolute;
        bottom: 2vh;
        color: white;
        width: 100vw;
    }

    .toast {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        background: rgba(47, 37, 41, 0.7);
        margin: 0 auto 0 auto;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Arial, SansSerif;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }


</style>

<div class="toast-holder">
    <div class="toast">
        <p style="text-align: center">$$message$$</p>
    </div>
</div>



